<settings>
  <id>SettingsInfoImpl--5046d7dc:18a1de477a1:-7ffd</id>
  <workspace>
    <id>WorkspaceInfoImpl--5046d7dc:18a1de477a1:-7fff</id>
    <name>pub</name>
    <isolated>false</isolated>
    <dateCreated>2023-08-22 15:40:01.561 UTC</dateCreated>
    <dateModified>2023-08-22 15:43:36.484 UTC</dateModified>
  </workspace>
  <contact>
    <id>contact</id>
    <addressCity>Victoria</addressCity>
    <addressCountry>Canada</addressCountry>
    <contactEmail>datamaps@gov.bc.ca</contactEmail>
    <contactOrganization>DataBC</contactOrganization>
    <contactPerson>DataBC</contactPerson>
    <internationalAddress class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCity class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCountry class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressDeliveryPoint class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressPostalCode class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressState class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressType class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactEmail class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactFacsimile class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactOrganization class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPerson class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPosition class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactVoice class="org.geotools.util.GrowableInternationalString"/>
    <internationalOnlineResource class="org.geotools.util.GrowableInternationalString"/>
    <internationalWelcome class="org.geotools.util.GrowableInternationalString"/>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <proxyBaseUrl>http://openmaps.gov.bc.ca/geo/</proxyBaseUrl>
  <verbose>true</verbose>
  <verboseExceptions>true</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>true</localWorkspaceIncludesPrefix>
  <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
  <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
  <useHeadersProxyURL>false</useHeadersProxyURL>
</settings>